{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/css2.css' %}" type="text/css" rel="stylesheet"/>
    <!-- FLEXBOX -->
    <link href="{% static 'css/flexboxgrid.css' %}" type="text/css" >
<link rel="stylesheet" href="{% static 'css/csstablas.css' %}">
{% endblock %}
            <table border="1">
                <thead>
                    <tr>
                        <th> Seleccionar </th>
                        <th> Nombre </th>
                        <th> Direccion </th>
                        <th> Ciudad </th>
                        <th> Comuna </th>
                        <th> Telefono </th>
                        <th> Email </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label=" Seleccionar "> <a class="button" href="{% url 'app:datos_cliente' id_cliente=cliente.id %}">Ver cliente</a> </td>
                        <td data-label=" Nombre "> {{cliente.id}} </td>
                        <td data-label=" Direccion "> {{cliente.direccion}} </td>
                        <td data-label=" Ciudad "> {{cliente.ciudad}} </td>
                        <td data-label=" Comuna "> {{cliente.comuna}} </td>
                        <td data-label=" Telefono "> {{cliente.telefono}} </td>
                        <td data-label=" Email "> {{cliente.correo}} </td>
                    </tr>
                </tbody>
            </table>
    